.page {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  font-family: Roboto;
  flex-direction: column;
  background-color: #fcfcfc;
}
.top-section {
  color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
}
.pricing-section {
  width: 100%;
  display: flex;
  padding: 100px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  background-color: #d0ece8;
}
.container {
  width: 100%;
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  background-color: transparent;
}
@media(max-width: 991px) {
  .pricing-section {
    padding: 50px;
  }
}
@media(max-width: 767px) {
  .pricing-section {
    padding: 30px;
    flex-direction: column;
  }
  .container {
    align-items: center;
    flex-direction: column;
  }
}
